*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  font-family: "Noto Serif JP", serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.inner {
  width: 1040px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.title {
  font-size: 32px;
  font-family: "Noto Serif JP", serif;
  color: #31452d;
  text-align: center;
  font-weight: 500;
  display: block;
  position: relative;
  line-height: 1.2;
}

.title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 64px;
  height: 1px;
  background: #b69b04;
}

.title span {
  font-size: 16px;
  font-weight: 400;
  display: block;
  padding-bottom: 16px;
  font-family: "Lora", serif;
}

/*===================================
header
==================================*/
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 767px) {
  .header {
    height: 64px;
  }
}

.header_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  width: 140px;
}

@media (max-width: 767px) {
  .header_logo {
    width: 114px;
  }
}

.header_nav {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .header_nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .header_nav {
    display: none;
  }
}

.header_nav_item {
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_nav_item:hover {
  opacity: 0.8;
}

.header_nav_item::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 36px;
  background: #333;
}

.header_nav_item a {
  display: block;
  padding: 0 30px;
  font-size: 16px;
  line-height: 1;
}

.header_nav_item a span {
  display: block;
  line-height: 1;
  font-family: "Lora", serif;
  color: #b69b04;
  margin-top: 7px;
  font-size: 12px;
}

.header_contact {
  width: 168px;
  margin-left: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header_contact:hover {
  opacity: 0.8;
}

.header_contact a {
  display: block;
  color: #eeead0;
  font-size: 16px;
  background: #31452d;
  height: 80px;
  padding-top: 24px;
  text-align: center;
  line-height: 1;
}

.header_contact a span {
  font-size: 12px;
  font-family: "Lora", serif;
  color: #b69b04;
  display: block;
  line-height: 1;
  margin-top: 7px;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .header_contact a {
    display: none;
  }
}

@media (max-width: 767px) {
  .header_contact a {
    display: none;
  }
}

/*===================================
drawer_icon
==================================*/
.drawer_icon {
  position: fixed;
  top: 22px;
  right: 20px;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  display: none;
}

@media (max-width: 767px) {
  .drawer_icon {
    display: block;
  }
}

.drawer_icon.is-active {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.drawer_icon.is-active .drawer_icon_bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 9px;
}

.drawer_icon.is-active .drawer_icon_bar2 {
  display: none;
}

.drawer_icon.is-active .drawer_icon_bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.drawer_icon_bars {
  width: 24px;
  height: 20px;
  position: relative;
}

.drawer_icon_bar1,
.drawer_icon_bar2,
.drawer_icon_bar3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 1px;
  background: #31452d;
}

.drawer_icon_bar1 {
  top: 0;
}

.drawer_icon_bar2 {
  top: 9px;
}

.drawer_icon_bar3 {
  top: 18px;
}

.drawer_content {
  position: fixed;
  top: 0;
  right: 0;
  background: #31452d;
  color: #eeead0;
  width: 200px;
  height: 100%;
  z-index: 200;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer_content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer_nav {
  text-align: center;
  padding-top: 60px;
}

.drawer_nav_item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.drawer_nav_item:hover {
  opacity: 0.8;
}

.drawer_nav_item:not(:last-child) {
  padding-bottom: 60px;
}

.drawer_nav_item a {
  font-size: 20px;
  display: block;
}

.drawer_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
  display: none;
}

.drawer_background.is-active {
  display: block;
}

/*===================================
main_visual
==================================*/
.main_visual {
  width: 100%;
  height: 900px;
  background: transparent url(../img/top-image.jpg) no-repeat center center/cover;
}

.main_visual_inner {
  height: inherit;
  position: relative;
}

.main_visual_title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main_visual_title img {
  width: 960px;
}

@media (min-width: 1040px) {
  .main_visual_title img.is_pc {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .main_visual_title img.is_pc {
    display: block;
  }
}

@media (max-width: 767px) {
  .main_visual_title img.is_pc {
    display: none;
  }
}

@media (min-width: 1040px) {
  .main_visual_title img.is_sp {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .main_visual_title img.is_sp {
    display: none;
  }
}

@media (max-width: 767px) {
  .main_visual_title img.is_sp {
    display: block;
  }
}

/*===================================
concept
==================================*/
.concept {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 120px 0;
}

.concept_title {
  font-size: 32px;
  font-family: "Noto Serif JP", serif;
  color: #31452d;
  text-align: center;
  font-weight: 500;
  display: block;
  position: relative;
  line-height: 1.2;
}

.concept_title::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 64px;
  height: 1px;
  background: #b69b04;
}

.concept_title span {
  font-size: 16px;
  font-weight: 400;
  display: block;
  padding-bottom: 16px;
  font-family: "Lora", serif;
}

.concept_content {
  margin-top: 32px;
  height: inherit;
  position: relative;
}

.concept_left {
  width: 640px;
  max-width: 100%;
  background: #31452d;
  padding: 60px 48px;
  position: absolute;
  bottom: -31px;
  left: 0;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .concept_left {
    width: 100%;
    position: static;
  }
}

@media (max-width: 767px) {
  .concept_left {
    width: 100%;
    position: static;
    padding: 55px 20px;
  }
}

.concept_left_title {
  font-size: 24px;
  color: #eeead0;
  font-weight: 400;
}

@media (max-width: 767px) {
  .concept_left_title {
    font-size: 20px;
  }
}

.concept_left_message {
  font-size: 16px;
  font-weight: 400;
  color: #eeead0;
  line-height: 2.5;
  margin-top: 24px;
  letter-spacing: .2rem;
}

@media (max-width: 767px) {
  .concept_left_message {
    margin-top: 14px;
    line-height: 2;
  }
}

.concept_more {
  margin-top: 31px;
  text-align: right;
  padding-right: 23px;
  position: relative;
}

.concept_more::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 16px;
  height: 16px;
  background: url(../img/arrow-w-icon@2x.png) no-repeat center center/cover;
}

.concept_more a {
  display: block;
  color: #eeead0;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.concept_more a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .concept_more {
    margin-top: 24px;
  }
}

.concept_right {
  margin-left: auto;
  width: 1120px;
  max-width: 100%;
}

@media (min-width: 1040px) {
  .concept_right img.is_pc {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .concept_right img.is_pc {
    display: block;
  }
}

@media (max-width: 767px) {
  .concept_right img.is_pc {
    display: none;
  }
}

@media (min-width: 1040px) {
  .concept_right img.is_sp {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .concept_right img.is_sp {
    display: none;
  }
}

@media (max-width: 767px) {
  .concept_right img.is_sp {
    display: block;
  }
}

/*===================================
concept
==================================*/
.works {
  padding-bottom: 119px;
}

.works_wrapper {
  position: relative;
  padding-bottom: 38px;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.works_cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 32px;
}

@media (max-width: 767px) {
  .works_cards {
    margin-top: 24px;
  }
}

.works_card {
  z-index: 2;
  width: calc(33.3% - 40px * 2 / 3);
}

@media (min-width: 1040px) {
  .works_card:not(:nth-child(3n + 1)) {
    margin-left: 40px;
  }
  .works_card:nth-child(n + 4) {
    margin-top: 66px;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .works_card {
    width: calc(50% - 40px * 1 / 2);
  }
  .works_card:not(:nth-child(2n + 1)) {
    margin-left: 40px;
  }
  .works_card:nth-child(n + 3) {
    margin-top: 66px;
  }
}

@media (max-width: 767px) {
  .works_card {
    width: calc(50% - 15px * 1 / 2);
  }
  .works_card:not(:nth-child(2n + 1)) {
    margin-left: 15px;
  }
  .works_card:nth-child(n + 3) {
    margin-top: 40px;
  }
}

.works_card_text {
  margin: 23px 0 0 24px;
  padding-left: 8px;
  position: relative;
}

.works_card_text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 164px;
  background: #31452d;
}

@media (max-width: 767px) {
  .works_card_text::before {
    height: 96px;
  }
}

@media (max-width: 767px) {
  .works_card_text {
    margin: 17px 0 0 16px;
  }
}

.works_card_name {
  font-size: 24px;
}

@media (max-width: 767px) {
  .works_card_name {
    font-size: 20px;
  }
}

.works_card_more {
  margin-top: 23px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works_card_more:hover {
  opacity: 0.8;
}

.works_card_more span {
  position: relative;
  padding-right: 20px;
  display: inline-block;
}

.works_card_more span::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(../img/arrow-b-icon@2x.png) no-repeat center center/contain;
}

.works_card_more a {
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works_card_more a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .works_card_more {
    margin-top: 16px;
  }
}

.works_background {
  width: 986px;
  height: 638px;
  background: #eeead0;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .works_background {
    width: 680px;
    height: 1130px;
  }
}

@media (max-width: 767px) {
  .works_background {
    width: 280px;
    height: 508px;
  }
}

.works_button {
  margin-top: 40px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works_button:hover {
  opacity: 0.8;
}

.works_button a {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #31452d;
}

@media (max-width: 767px) {
  .works_button a {
    width: 152px;
  }
}

/*===================================
news
==================================*/
.news {
  padding-bottom: 120px;
}

.news_content {
  font-weight: 400;
  text-align: center;
}

.news_content_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_content_row:not(:last-child) {
  margin-bottom: 69px;
}

@media (max-width: 767px) {
  .news_content_row:not(:last-child) {
    margin-bottom: 0;
    border-bottom: 1px solid #31452d;
  }
}

@media (max-width: 767px) {
  .news_content_row {
    display: block;
  }
}

@media (max-width: 767px) {
  .news_content_row {
    padding: 24px 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news_content_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.news_content_date {
  font-family: "Lora", serif;
  padding: 0 40px;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .news_content_date {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .news_content_date {
    padding: 0;
    font-size: 14px;
    margin-right: 24px;
  }
}

.news_content_kinds {
  font-family: "Lora", serif;
  padding: 0 49px;
  position: relative;
}

.news_content_kinds::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 56px;
  background: #31452d;
}

@media (max-width: 767px) {
  .news_content_kinds::before {
    display: none;
  }
}

.news_content_kinds span {
  color: #b69b04;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .news_content_kinds {
    padding: 0 39px;
  }
}

@media (max-width: 767px) {
  .news_content_kinds {
    padding: 0;
    font-size: 14px;
  }
}

.news_content_title {
  font-family: "Noto Serif JP", serif;
  padding: 0 40px;
  position: relative;
  text-align: left;
}

.news_content_title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 56px;
  background: #31452d;
}

@media (max-width: 767px) {
  .news_content_title::before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .news_content_title {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .news_content_title {
    padding: 0;
    margin-top: 17px;
  }
}

.news_button {
  margin-top: 60px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news_button:hover {
  opacity: 0.8;
}

.news_button a {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #31452d;
}

@media (max-width: 767px) {
  .news_button a {
    width: 152px;
  }
}

/*===================================
news
==================================*/
.contact {
  background: #eeead0;
  padding: 120px 0 147px;
}

@media (max-width: 767px) {
  .contact {
    padding: 45px 0 40px;
  }
}

.contact_contents {
  margin-top: 68px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .contact_contents {
    display: block;
    margin-top: 0;
  }
}

.contact_content_left {
  padding: 0 61px;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .contact_content_left {
    padding: 0 35px;
  }
}

@media (max-width: 767px) {
  .contact_content_left {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 0 16px;
    border-bottom: 1px solid #31452d;
  }
}

.contact_content {
  padding: 0 32px;
  position: relative;
}

.contact_content::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 191px;
  background: #31452d;
}

@media (max-width: 767px) {
  .contact_content::before {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .contact_content {
    padding: 0 13px;
  }
}

@media (max-width: 767px) {
  .contact_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 0 16px;
  }
  .contact_content:not(:last-child) {
    border-bottom: 1px solid #31452d;
  }
}

.contact_content_img img.is_date {
  width: 27px;
}

.contact_content_img img.is_email {
  width: 32px;
}

.contact_content_img img.is_tell {
  width: 22px;
}

@media (max-width: 767px) {
  .contact_content_img {
    margin: auto 0;
  }
}

.contact_content_title {
  font-size: 20px;
  margin-top: 18px;
  white-space: nowrap;
}

@media (min-width: 1040px) {
  .contact_content_title .br_sp {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .contact_content_title .br_sp {
    display: none;
  }
}

@media (max-width: 767px) {
  .contact_content_title .br_sp {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1040px) {
  .contact_content_title {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .contact_content_title {
    font-size: 16px;
    padding: 0 16px;
    margin: 0;
  }
}

.contact_content_title_date {
  font-size: 20px;
  margin-top: 18px;
  white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 1040px) {
  .contact_content_title_date {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .contact_content_title_date {
    font-size: 16px;
    padding: 0 32px;
    margin: 0;
  }
}

.contact_content_button {
  text-align: center;
  margin-top: 23px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact_content_button:hover {
  opacity: 0.8;
}

.contact_content_button a {
  display: inline-block;
  width: 160px;
  height: 48px;
  line-height: 48px;
  background: #b69b04;
  color: #eeead0;
}

.contact_content_button a.is_email {
  background: #31452d;
}

@media (max-width: 767px) {
  .contact_content_button a {
    width: 152px;
  }
}

@media (max-width: 767px) {
  .contact_content_button {
    margin-top: 0;
    margin-left: auto;
  }
}

.contact_content_tell {
  margin-top: 24px;
  font-size: 24px;
}

@media (max-width: 767px) {
  .contact_content_tell {
    display: none;
  }
}

.contact_content_time {
  font-size: 14px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .contact_content_time {
    font-size: 12px;
  }
}

.contact_content_wrapper {
  margin-left: auto;
}

.contact_content_button_tell {
  display: none;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact_content_button_tell:hover {
  opacity: 0.8;
}

.contact_content_button_tell a {
  display: inline-block;
  width: 160px;
  height: 48px;
  line-height: 48px;
  background: #31452d;
  color: #eeead0;
}

.contact_content_button_tell a.is_email {
  background: #31452d;
}

@media (max-width: 767px) {
  .contact_content_button_tell a {
    width: 152px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .contact_content_button_tell {
    text-align: right;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 7px;
    display: block;
  }
}

/*===================================
footer
==================================*/
.footer {
  text-align: center;
  background: #31452d;
  color: #eeead0;
  padding: 80px 0 120px;
}

@media (max-width: 767px) {
  .footer {
    padding: 40px 0;
    border-bottom: 1px solid #eeead0;
  }
}

.footer_logo {
  width: 679px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .footer_logo {
    width: 148px;
  }
}

.footer_overview_name {
  margin-top: 24px;
  line-height: 2;
}

.footer_nav {
  margin-top: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .footer_nav {
    display: block;
  }
}

.footer_nav_item {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer_nav_item:hover {
  opacity: 0.8;
}

.footer_nav_item:not(:first-child)::before {
  content: "";
  position: absolute;
  content: 0;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #eeead0;
  width: 1px;
  height: 16px;
}

@media (max-width: 767px) {
  .footer_nav_item:not(:first-child)::before {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer_nav_item:not(:first-child) {
    padding-top: 24px;
  }
}

.footer_nav_item a {
  display: block;
  padding: 0 30px;
}

@media (max-width: 767px) {
  .footer_nav_item a {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .footer_nav_item {
    padding-bottom: 24px;
  }
  .footer_nav_item:not(:last-child) {
    border-bottom: 1px solid #eeead0;
  }
}

/*===================================
copy
==================================*/
.copy {
  background: #333333;
  color: #eeead0;
  padding: 19px 0;
}

@media (max-width: 767px) {
  .copy {
    padding: 30px 0 16px;
  }
}

.copy_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .copy_inner {
    display: block;
  }
}

.copy_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.copy_map {
  padding-right: 32px;
}

@media (max-width: 767px) {
  .copy_map {
    font-size: 14px;
    padding-right: 40px;
  }
}

.copy_policy {
  padding: 0 32px;
  position: relative;
}

.copy_policy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background: #eeead0;
}

@media (max-width: 767px) {
  .copy_policy {
    font-size: 14px;
    padding-left: 42;
    padding-right: 0;
  }
}

.copy_right {
  margin-left: auto;
  font-size: 12px;
}

@media (max-width: 767px) {
  .copy_right {
    margin-top: 33px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */